/node_modules/
.htaccess
*.code-workspace
.vscode
.eslintcache
/logs/
/public/
/storage/
/backend/
/backend-src/backend/tests/coverage
/build/
/coverage
thunder-tests/thunderActivity.json
.vscode/settings.json
server.js
.DS_Store
.eslintcache
.env*
.flaskenv*
!.env.project
!.env.vault
!.env.ci