# ci
DB_HOSTNAME=127.0.0.1
DB_USERNAME=membership-demo-user
DB_PASSWORD=49N!vq02g
DB_NAME=membership-demo-db
DB_DIALECT=mysql
DB_PORT=3316
PORT=8080
SITE_URI="membership-demo.testweb-demo.com"
ENC_SEC="leVubXfgMPd9X4yQ2FCD" 
SESS_SEC="l5acIXLG05tdTe4cMOAg"
SESS_NAME="membership-test"
LINE_CHANNEL_ACCESS_TOKEN="fKQ533/yptZ0AogHcPQoCN6DiUaRgcMB6O/ysceTjeR4RRYaKNw4JZK/C44VMkNIwnckR1qITKO6+ljnO92QWkP4HIlexsaPeACG27KCZGc+KDartCs7masD/H0XnT2VpDVrsgfuBqLUF34ENRVlJwdB04t89/1O/w1cDnyilFU="
LINE_CHANNEL_SECRET="cf95d84cd409a3adb24d0e628bf46466"
LINE_LOGIN_CHANNEL_ID="1661466048"
LINE_LIFF_URI="https://liff.line.me/1661466048-6B8dBABo"
LINE_MSG_NOT_IMPLEMENTED=error
NGROK_URI=
INIT_MANAGER_EMAIL="test@test.com"
INIT_MANAGER_USERNAME="test_admin"
INIT_MANAGER_PW="testtest1"